#title{
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    font-family: monospace;
    font-style: italic;
    color: white;
}
#home{
    background:linear-gradient(to right,rgb(253, 58, 33),#FD8E63) ;              /* color */
}
.sign-in{ 
    height: 150px;
    width: 150px;
    margin:auto;
    margin-top: 20px;
    border-radius:100%;
    border : 8px solid #D98856;
    box-shadow: -2px 3px 2px #000; 
}
#user{
    margin-top: 10px;
    background-color: transparent;
}
#pass{
    margin-top: 5px;
    background-color: transparent;
}
.btn{
    width: 100%;
    text-align: center;
}
.btn button{
    text-align:center;
    font-family: monospace;
    font-size: 20px;
    color: white;
    width:70%;
    margin:20px;
    background:linear-gradient(to left,rgb(253, 58, 33),#FD8E63) ;              /* color */
    box-shadow: -2px 3px 2px #000 ;
    border-radius: 50px;
}