<!--
  Generated template for the SignInPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content id="home">
  <ion-menu [content]="mycontent">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <div id="menuTitle">Adopt Saba</div>
          <img id="menuImg" src="../../assets/logo.png" />
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content id="menuDiv">
      <ion-list>
        <button id="menuItem" (click)="home()" ion-item>
          <ion-icon id="menuIcon" name="ios-home-outline" item-left></ion-icon> HOME
        </button>
        <button id="menuItem" (click)="about()" ion-item>
          <ion-icon id="menuIcon" name="ios-alert-outline" item-left></ion-icon> About
        </button>
        <button id="menuItem" (click)="contact()" ion-item>
          <ion-icon id="menuIcon" name="ios-contacts-outline" item-left></ion-icon> Contact Us
        </button>
        <button id="menuItem" (click)="signout()" ion-item>
          <ion-icon id="menuIcon" name="ios-log-out-outline" item-left></ion-icon> Sign Out
        </button>
        <div></div>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-nav #mycontent [root]="rootPage">
  </ion-nav>
  <div class="menu">
    <div id="iconDiv">
      <button id="menuBtn" ion-button menuToggle>
        <ion-icon id="icon" name="menu"></ion-icon>
      </button>
    </div>
    <img src="/assets/LOGO.png" />
  </div>
  <div class="nav">
    <button ion-button (click)="call()" icon-only>
      <ion-icon name="ios-call"></ion-icon>
    </button>
    <button ion-button icon-only>
      <ion-icon name="md-notifications"></ion-icon>
    </button>
    <button ion-button icon-only>
      <ion-icon name="md-calendar"></ion-icon>
    </button>
    <button ion-button icon-only (click)="showProfile()">
      <ion-icon name="ios-contact"></ion-icon>
    </button>
  </div>
  <div>
    <ion-item class="date">
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY  HH:mm:ss" [(ngModel)]="myDate"></ion-datetime>
    </ion-item>
  </div>
  <div id="back">
    <div class="btn2">
      <button ion-button>
        <ion-icon name="md-refresh"></ion-icon>
      </button>
      <button (click)="takePic()" ion-button>
        <ion-icon name="ios-camera"></ion-icon>
      </button>
      <button (click)="stop()" ion-button>
        <ion-icon name="md-square"></ion-icon>
      </button>
    </div>
    <div class="btn3">
      <button (click)="timerFunc()" ion-button>{{txt}}</button>
    </div>
  </div>
  <div class="timer">
    <p>{{hourL}}{{hourR}}:{{minuteL}}{{minuteR}}:{{secondL}}{{secondR}}</p>
    Latest Picture:
    <img *ngFor="let image of images" [src]="image" />
  </div>
  <div id="profile" *ngIf="show">
    <img class="divCover" src="../../assets/imgs/picture.jpg" alt="nice">
    <img class="divImg" src="../../assets/imgs/picture.jpg" alt="nice">
    <div class="info">
      <p>Name:{{volunteerName}}
        <br> Phone:{{volunteerNum}}
        <br> Coordinator:{{coordName}}
        <br> ID:{{idNum}}
      </p>
    </div>
    <button id="cancel" (click)="show=false">Cancel</button>
  </div>
</ion-content>