.profileTable {
    font-size: 13pt;
    font-size-adjust:inherit;
}
.profileTable ul{
    padding: 0px;
    text-align: left;
    list-style: none;
}
.profileTable .volunteerImage{
    padding: 0px;
    margin: 0px;
}
.profileTable td{
    height: 120px;
}
.volunteerImage{
    text-align: center;
    width: 100%;
    overflow: hidden;
   
}
.volunteerImage img{
    height: 100%;
    width: 150px;
    text-align: center;
    min-height:100%;
}